{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>

  {% if species_of_the_day %}
  <div class="flex-1 main-title">
    <h2>Endangered Species of the Day: </h2><br>
    <div class="m-1.5">
      <a class="review-button" href="{{ url_for('species.species_detail', species_name=species_of_the_day.scientific_name)}}">{{ species_of_the_day.scientific_name }}</a>
    </div>
    
  </div>
  {% endif %}
  <br>
  <br>
  {% if map %}
  <div>{{ map | safe }}</div>
  {% endif %}
</div>
{% endblock %}
